* {
  margin: 0,
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    url('./Raleway.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
   src: url('./Roboto.ttf');
}

#header {
  font-family: 'Raleway';
  text-decoration: none;
  color: #000000;
  max-width: 100%;
  min-width: 100%;
  height: 5vh;
  margin: 0;
  padding: .5em 0 0 0;
  position: absolute;
  z-index: 1;
  border-bottom: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    // text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    &:hover {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  &:hover{
    border-bottom: 2px rgba(0, 0, 0, 0.3) solid;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    // padding: 0 1.5em 0 1em;
    
  }
}
#footer{
  // border: solid red 2px;
  position: absolute;
  width: 100vw;
  margin-top: 90vh;
  margin-bottom: 0;
  a img {
    height: 8vw;
    margin: 0 46vw;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(-1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    &:hover {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
}


#indexBox {
  height: 100%;
  min-width: 100%;
  font-family: 'Raleway';
  position: absolute;
  // Photo by Filip Zrnzević on Unsplash
  background-image: url('./forestBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
    #indexText {
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      margin-top: 15%;
      margin-left: 10%;
      margin-right: 10%;
      padding: .5em;
      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      p, a {
        margin: .5em 10% 0;
      }
  }
}

#projectBox {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Raleway';
  position: absolute;
  // Photo by Filip Zrnzević on Unsplash
  background-image: url('./edSiteProjects.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
    #projectText {
      // background-color: rgba(0, 0, 0, 0.3);
      margin-top: 15%;
      // margin-left: 10%;
      h1, p {
        margin: auto 25%;
      }
  }
}

#contactBox {
  height: 100%;
  min-width: 100%;
  font-family: 'Raleway';
  position: absolute;
  // Photo by Filip Zrnzević on Unsplash
  background-image: url('./edSiteContact2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
    #contactText {
      // background-color: rgba(0, 0, 0, 0.3);
      margin-top: 19%;
      div {
        background: #fff;
       box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        padding: 10px;
        margin: auto 10%;
        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
      }
      a {
        text-decoration: none;
        color: rgb(0, 10, 100);
      }
  }
}


#caption-style-2{
  list-style-type: none;
  margin: 0px;
  padding: 0px 25vw;
  
}
#caption-style-2 li{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
#caption-style-2 li:hover #caption{
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform:translateY(-100px);
  -moz-transform:translateY(-100px);
  -ms-transform:translateY(-100px);
  -o-transform:translateY(-100px);
}
#caption-style-2 img{
  margin: 0px;
  padding: 0px;
  // float: left;
  z-index: 4;
  width: 50vw;
}
#caption-style-2 #caption{
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top:300px;
  -webkit-transition:all 0.15s ease-in-out;
  -moz-transition:all 0.15s ease-in-out;
  -o-transition:all 0.15s ease-in-out;
  -ms-transition:all 0.15s ease-in-out;
  transition:all 0.15s ease-in-out;
}
#caption-style-2 #blur{
  background-color: rgba(0,0,0,0.7);
  height: 200px;
  width: 50vw;
  z-index: 5;
  position: absolute;
}
#caption-style-2 #caption-text h1{
  text-transform: uppercase;
  font-size: 18px;
}
#caption-style-2 #caption-text{
  font-family: 'Raleway';
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 200px;
  width: 50vw;
  text-align: center;
  top:20px;
  padding: 0 auto;
}